*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
  --header-height: 16vh;
  --map-height: calc(100vh - var(--header-height));
}

@media screen and (min-height: 400px){
  :root{
    --header-height: 8vh;
  }
}